.header-color {
  background-color: #A56CF7;
  transition: .3s;
}

.header-color:hover {
  background-color: #8a54d6;
}

#submit {
  padding-left: 30%;
}

.nav-img {
  padding-left: 50px;
  margin-left: 50px;
}

#services {
  padding-left: 20%;
}

h3 {
  font-size: 70px;
  padding-right: 10%;
}

#para {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.flexible-container {
  display: flex;
  margin-bottom: 60px;
}

.container {
  padding-top: 6%;
  padding-left: 8%;
}

.container2 {
  padding-right: 30%;
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 100%;

}

.works {
  font-size: 50px;
  font-weight: 500px;
}

.group-img {
  position: relative;
}

#bg-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.bg-color {
  background-color: #F5F5F5;
}

.download {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 70px;
}

#app {
  padding-top: 20%;
}

h4 span {
  position: relative;
  padding-left: 30px;
  padding-right: 40px;

}

h4 span::before,
h4 span::after {
  content: '';
  height: 2px;
  width: 100px;
  background-color: grey;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

h4 span::before {
  left: -100px;

}

h4 span::after {
  right: -100px;
}

.mission {
  padding-left: 12%;
  padding-right: 12%;
}

.rushan-color {
  color: #A56CF7;
}


.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  column-gap: 30px;
  padding-left: 7%;
  padding-right: 7%;
}

.foo {
  padding-left: 34%;
}

.social-media {

  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 28px;

}

.fa-facebook,
.fa-linkedin {
  color: #1877F2;
}

.fa-square-whatsapp {
  color: #075E54;
}

.fa-instagram {
  color: mediumvioletred;
}


/* responsive  */
@media(max-width: 1280px) {
  .foo {
    padding-left: 29%;
  }
}

@media(max-width: 1024px) {
  .nav-img {
    padding-left: 50px;
    margin-left: 25px;
  }

  #submit {
    padding-left: 20%;
  }

  h3 {
    font-size: 60px;
    padding-right: 10%;
  }

  #service {
    padding-right: 0 10%;
    width: 100%;
  }

  .foo {
    padding-left: 11%;
  }

  #condition {
    margin-top: 20px;
  }

  .form {
    margin-top: 15px;
  }
}

@media(max-width: 768px) {
  h3 {
    font-size: 40px;
    padding-right: 10%;
  }

  h5 {
    font-size: 30px;
  }

  .works {
    font-size: 30px;
  }

  #choose {
    flex-direction: column !important;
    align-items: center;
  }

  #schedule {
    flex-direction: column !important;
    align-items: center;
  }

  #items {
    flex-direction: column !important;
    align-items: center;

  }

  #get-items {
    padding-left: 47px;
  }

  #service img {
    width: 90%;
  }

  #bg-images img {
    width: 100%;
  }

  .group-img {
    padding-top: 16%;
  }

  #mission-img img {
    width: 200px;
  }

  .foo {
    padding-left: 2px;
  }
}

@media(max-width: 575px) {
  #header-img img {
    width: 50%;
  }

  #para {
    font-size: 15px;
    font-weight: 300;
  }

  .works {
    font-size: 30px;
  }

  .container2 {
    padding-right: 60px;
  }

  h3 {
    font-size: 30px;
    padding-right: 10%;
  }

  .flexible-container {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
  }

  #mission-img img {
    width: 150px;
  }

  .choose-text {
    padding-left: 100px;
  }

  .download {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #bg-images img {
    width: auto;
  }

  .group-img {
    padding-top: 2%;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  #footer-img img , #foo-img img {
    width: 30%;
  }

}